// ███████╗██╗   ██╗███████╗███╗   ██╗████████╗███████╗
// ██╔════╝██║   ██║██╔════╝████╗  ██║╚══██╔══╝██╔════╝
// █████╗  ██║   ██║█████╗  ██╔██╗ ██║   ██║   ███████╗
// ██╔══╝  ╚██╗ ██╔╝██╔══╝  ██║╚██╗██║   ██║   ╚════██║
// ███████╗ ╚████╔╝ ███████╗██║ ╚████║   ██║   ███████║
//
// Events page styles.
//
// This is file #? created at 3:12AM, the first day of MHacks.
//  -> I'm getting really tired at this point.

#eventsPage {
  padding-top: 50px;
  text-align: center;
  h1 {
    width: 100%;
  }
  .cta_button {
    margin: 20px;
    margin-bottom: 0;
  }
}
