// ██╗      ██████╗  ██████╗ ██╗███╗   ██╗
// ██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
// ██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
// ██║     ██║   ██║██║   ██║██║██║╚██╗██║
// ███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
// ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝
//
// Sign into the site.
//
// This is file #? created at 4:00AM, the first day of MHacks.
//  -> Gabe Newell...

#loginPage {
  padding-top: 50px;
  text-align: center;
  h1 {
    width: 100%;
  }
  .cta_button {
    margin: 20px;
    margin-bottom: 0;
  }
}

.loadingIcon {
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 50vmin;
    height: 25vmin;
  }

  path {
    stroke: cyan;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 193.904983521;
    fill: none;
    animation:
    load 4s linear infinite,
    color 3s linear infinite;
  }

  @keyframes load {
    from { stroke-dashoffset: 775.6199340820312; }
  }

  @keyframes color {
    33% { stroke: yellow; }
    66% { stroke: magenta; }
  }
}
