<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <link rel="shortcut icon" type="image/png" href="/favicon-96x96.png"/>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
</head>

<template name="ApplicationLayout">
<body>
  {{> yield}}
  {{> bottomAttr}}
</body>
</template>

<template name="bottomAttr">
<div class="bottomattr left heartMhacks">
  made with <i class="fa fa-heart"></i> at MHacks 6
</div>
</template>
